<div class="">
  <%=  erb :'/partials/_errors'%>
  <form class="" action="/session/login" method="post">

    <label for="email">Email</label>
    <input type="email" name="user[email]" value="" id="email">

    <label for="password">Password</label>
    <input type="password" name="user[password]" value="" id="password">


    <input type="submit" name="" value="Login">
  </form>
</div>
