<div class="">
  <%=  erb :'/partials/_errors'%>
  <form class="" action="/users" method="post">

    <label for="username">Username</label>
    <input type="text" name="user[username]" value="" id="username">


    <label for="email">Email</label>
    <input type="email" name="user[email]" value="" id="email">

    <label for="password">Password</label>
    <input type="password" name="user[password]" value="" id="password">


    <input type="submit" name="" value="Create">
  </form>
</div>
