<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <% if current_user %>
    <ul>
      <li><a href="/squirrels">Home</a></li>
      <li><a href="/session/logout">Log out</a></li>
    </ul>
    <% else %>
    <ul>
      <li><a href="/users/new">Create account</a></li>
      <li><a href="/session/login">Login</a></li>
    </ul>
    <%end%>

  <%= yield %>
</body>
</html>
